name: configCi
on: 
    push:
        branches: [main]
    pull_request:
        branches: [main]

jobs:
    build:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v4
            - name: Setup PHP
              uses: shivammathur/setup-php@v2
              with:
                php-version: '8.2'
            - name: Start MySQL
              uses: mirromutth/mysql-action@v1.1
              with:
                mysql database: 'Kanshi_test'
                mysql user: 'root'
                mysql password: 'Root1234!'
            - name: Install dependencies
              run: composer install --prefer-dist --no-progress
            - name: Running tests
              run: php artisan test
              env:
                DB_CONNECTION: mysql
                DB_HOST: 127.0.0.1
                DB_PORT: 3306
                DB_DATABASE: Kanshi_test
                DB_USERNAME: root
                DB_PASSWORD: Root1234!
                